@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'dosis';
    color: #080808;
    background-image: url(./image/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container
{
    position: relative;
    width: 800px;
    min-width: 350px;
    min-height: 250px;
    padding-bottom: 40px;
    overflow: hidden;
  
}

.card_box
{
    width: 300%;
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
}

.card{
    width: 800px;
    min-height: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 10px;
    
}

.card_image_box
{
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card_desc_box{
    width: 120%;
    min-height: 100%;
    height: auto;
    margin-left: 20px;
    position: relative;
    padding-bottom: 50px;
}

.desc 
{
    font-size: 20px;
    line-height: 30px;
    margin-top: 40px;
}

.name
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 5px 20px;
    background: #fff;
    color:  #ff0047;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 900
}
.indicators{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.indicators button{
    background: none;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    margin-left: 5px;
    transition: .5s;
}

button.active{
    width: 40px;
    border-radius: 50px;
    background: #fff;
}

@media (max-width: 800px){
    .container{
        width: 50%;
        margin: auto;
    }
    .card{
        flex-direction: column;
    }
    .card_image_box{
        width: 100%;
        border-radius: 10px;
    }
    .card_desc_box{
        width: 100%;
        min-height: auto;
        margin-left: 0;
    }
}